templates/Sendmail on failure/Sendmail on failure.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Testing_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SendFail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "UpdateStatus",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-09.southafricanorth.logic.azure.com:443/workflows/a050d80bf26c4e19be23b6e385a1d93d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=sixScIUMyWNTqOzd7Fz4unpjxBV81k7GTpmoXmYw2tA",
							"method": "POST",
							"body": {
								"value": "{\n    \"message\": \"@{activity('UpdateStatus').error.Message}\",\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\",\n    \"pipelineName\" : \"@{pipeline().Pipeline}\",\n    \"receiver\" : \"@{pipeline().parameters.receiver}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "UpdateStatus",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"scripts": [],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"parameters": {
					"receiver": {
						"type": "string",
						"defaultValue": "Jandre.Badenhorst@OMNIA.CO.ZA"
					}
				},
				"folder": {
					"name": "POC"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-09T11:31:31Z"
			},
			"dependsOn": []
		}
	]
}